<app-menu></app-menu>
<div class="container justify-content-center">

    <div class="row">

        <div class="col-md-4">

            <h6> Whick of the following are correct about Mysql? </h6>
            <ol>
                <li>{{options[0]}}</li>
                <li>{{options[1]}}</li>
                <li>{{options[2]}}</li>
                <li>{{options[3]}}</li>
            </ol>

            <div><strong>Check one or more correct answers</strong></div><br>
            <div class="row">
                <div class="col-md-6 mb-3">

                    <input type="checkbox" id="option1" name="option1" value="0" [(ngModel)]="ans1">
                    <label for="option1">    1 </label><br>
                    <input type="checkbox" id="option2" name="option2" value="1" [(ngModel)]="ans2">
                    <label for="option2">    2</label><br>
                    <input type="checkbox" id="option3" name="option3" value="2" [(ngModel)]="ans3">
                    <label for="option3">    3</label><br>
                    <input type="checkbox" id="option4" name="option4" value="3" [(ngModel)]="ans4">
                    <label for="option4">    4 </label>

                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)=answerQuiz()>Submit</button>

        </div>
    </div>
</div>