<app-menu></app-menu>




<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 ">

        </div>
        <div class="col-sm-8 text-left">




            <div class="container justify-content-center">

                <div class="row">
                    <div class="col-sm-2 ">

                    </div>
                    <div class="col-sm-8 justify-content-center">
                        <div class="container justify-content-center my-5">
                            <h3 class="justify-content-center"> {{title}} </h3>
                            <h6> {{question}} </h6>
                            <ol>
                                <li *ngFor="let option of options">{{option}}</li>
                            </ol>

                            <div><strong>Check one or more correct answers</strong></div><br>
                            <div class="row">
                                <div class="container justify-content-center">

                                    <input type="checkbox" id="option1" name="option1" value="0" [(ngModel)]="ans1">
                                    <label class="mx-2" for="option1">    1 </label><br>
                                    <input type="checkbox" id="option2" name="option2" value="1" [(ngModel)]="ans2">
                                    <label class="mx-2" for="option2">    2</label><br>
                                    <input type="checkbox" id="option3" name="option3" value="2" [(ngModel)]="ans3">
                                    <label class="mx-2" for="option3">    3</label><br>
                                    <input type="checkbox" id="option4" name="option4" value="3" [(ngModel)]="ans4">
                                    <label class="mx-2" for="option4">    4 </label>

                                </div>
                            </div>

                            <button type="button" class="btn btn-primary" (click)=answerQuiz()>Submit</button>

                        </div>
                    </div>
                    <div class="col-sm-2 ">

                    </div>

                </div>
                <div [ngClass]="success ? 'alert alert-success my-4' : 'alert alert-danger my-4'" *ngIf="answered">{{feedback}}</div>
            </div>





        </div>
        <div class="col-sm-2 ">

        </div>
    </div>
</div>
