<div class="col-sm-8  mx-auto my-5">

</div>


<div class="container">
    <div class="row">
        <div class="col-sm-8  mx-auto my-5">
            <div class="container bg-light">
                <div class="text-center">
                    <div>
                        <h3>{{quizSet.description}}</h3>
                    </div>
                </div>

                <div class="text-center">
                    <button *ngIf="!started&&!finished" class="btn btn-sm btn-primary" (click)="start()">click to start</button>
                </div>




                <div class="container" *ngIf="started">
                    <app-solve-quiz-in-quiz-set (finishedStatus)="onFinished($event)" class="my-5" [quizSet]="quizSet"></app-solve-quiz-in-quiz-set>
                </div>



                <div *ngIf='finished'>
                    It works
                </div>
            </div>
        </div>
    </div>
</div>