<header>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <img src="https://www.flaticon.com/premium-icon/icons/svg/3261/3261308.svg" />
        <a class="navbar-brand mx-2">Web Quiz Engine </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <ul class="navbar-nav navbar-collapse" id="navbarNavDropdown">
            <li class="nav-item"><a class="nav-link" routerLink="./quizzes">All Quizzes</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="./myquizzes">My Quizzes</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="./createquiz" href="#">Create Quiz</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="./createquizset" href="#">Create Quiz Set</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="./solvedquizzes">Solved Quizzes</a></li>

        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end" id="navbarNavDropdown">
            <img src="https://www.flaticon.com/svg/static/icons/svg/3237/3237472.svg" />
            <!-- <li class="nav-item"><a class="nav-link" routerLink="/logout" (click)="Logout()">{{name}}</a></li> -->


            <div class="dropdown">

                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{name}}</a>

                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Profile</a>
                    <a routerLink="/logout" (click)="Logout()" class="dropdown-item">Logout</a>
                </div>
            </div>







        </ul>

    </nav>
</header>
