<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Quizzes solved
        <span class="badge badge-primary badge-pill">{{quizzesSolved}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Quizzes created
        <span class="badge badge-primary badge-pill">{{quizzesCreated}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Quiz sets created
        <span class="badge badge-primary badge-pill">{{quizSetsCreated}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Quiz sets solved
        <span class="badge badge-primary badge-pill">{{quizSetsSolved}}</span>
    </li>
</ul>