/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(253, 183, 29);
    background: linear-gradient(90deg, rgba(253, 183, 29, 1) 12%, rgba(252, 69, 69, 1) 100%);
}