<div class="col-sm-8 mx-auto text-center">



    <div class="table my-5">

        <table *ngIf="list.length > 0 ;else elseBlock" class="table table-hover table-sm">

            <thead class='thead-dark'>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Question</th>
                    <th scope="col">Completion Date</th>
                    <th scope="col">Completion Time</th>

                </tr>
            </thead>
            <tbody>

                <tr class='table-light' *ngFor="let solvedquiz of list">
                    <td>{{solvedquiz.quiz?.title}}</td>
                    <td>{{solvedquiz.quiz?.text}}</td>
                    <td>{{solvedquiz.completedAt | date : 'dd/MM/yyyy'}}</td>
                    <td>{{solvedquiz.completedAt | date : 'HH:mm:ss'}}</td>
                </tr>

            </tbody>
        </table>

        <ng-template #elseBlock>
            <span class="alert alert-warning text-center">You have not solved any quizzes </span>
        </ng-template>

    </div>


    <div class="container my-5" *ngIf="list.length > 0">
        <nav aria-label="Page navigation example">
            <ul id='pagination' class="pagination">
                <li #pagebutton [value]='num' [ngClass]="['page-item',(pagebutton.value == selectedPage)? 'active':'','text-dark']" *ngFor="let num of pages"><a class="page-link" (click)="getSolvedQuizzes(num)">{{num + 1}}</a></li>

            </ul>
        </nav>
    </div>



</div>
