<div class="container">

    <div class="register-form">
        <form action="" method="post">
            <h2 class="text-center">Create Account</h2>
            <div class="form-group">
                <input name="username" type="text" class="form-control" placeholder="Username" required="required" [(ngModel)]="username">
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password" required="required" [(ngModel)]="password">
            </div>
            <div class="form-group">
                <input name="verify-password" type="password" class="form-control" placeholder="Password" required="required" [(ngModel)]="verifyPassword">
            </div>
            <div class="alert alert-danger" *ngIf="passwordsMatch === false">{{passwordDontMatchError}}</div>
            <div class="alert alert-danger" *ngIf="InputError === true">{{error}}</div>
            <div class="form-group">
                <button (click)=registerHandler() type="submit" class="btn btn-primary btn-block">Create Account</button>
            </div>

        </form>
        <p class="text-center"><a routerLink="/login" href="#">Login</a></p>
    </div>
</div>